.search {
  margin: 30px 50px;
}

.search__path > p {
  color: #194344;
}

.search__filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px;
  justify-content: center;
}

.search__filter__button > .button {
  border: 2px solid #194344;
  background-color: white;
  padding: 10px;
  margin-right: 2px;
}

.search__filter__button > .button.capsule-left {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.search__filter__button > .button.capsule-right {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.search__filter__button > .button.selected {
  background-color: #fdec94;
  box-shadow: 0px 0px 1px 1px #aaaaaa;
  border-width: 2px;
}

.search__filter__dropdown {
  box-shadow: 0px 0px 1px 1px #aaaaaa;
  margin-top: 20px;
  width: 80%;
  border-radius: 5px;
  padding: 5px 15px;
}

.search__filter__dropdown > p {
  margin-top: 10px;
}

.search__filter__dropdown > ul {
  display: flex;
  list-style: none;
  margin: 10px 0;
  justify-content: space-around;
}

.search__filter__dropdown > ul > button {
  border-radius: 50px;
  padding: 5px 15px;
  background-color: white;
  border: 2px solid #194344;
}

.search__filter__textbox {
  width: 80%;
  margin-top: 15px;
  display: flex;
}

.search__filter__textbox > input {
  flex: 1;
  height: 35px;
  padding: 0 15px;
  border-radius: 5px;
  border-left: 40px solid #194344;
}

.search__filter__textbox > button {
  border-radius: 50px;
  margin-left: 20px;
  padding: 5px 10px;
  background-color: white;
  border: 2px solid #194344;
  box-shadow: 0px 0px 1px 1px #aaaaaa;
}

.search__filter__selectedFilter {
  margin-top: 50px;
  width: 100%;
}

.search__filter__selectedFilter > p {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #194344;
  font-size: 1.2rem;
}

.search__filter__selectedFilter > p > .button {
  border-radius: 50px;
  margin-left: 20px;
  padding: 5px 10px;
  background-color: lightgray;
}
